In [2]:
#import all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [3]:
# Importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import selenium
import pandas as pd
from selenium.webdriver.common.by import By
from selenium import webdriver
import time #using time.sleep functions
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import re
from selenium.webdriver.common.action_chains import ActionChains

# Question-1 Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/ You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [82]:
def question1(url):
    driver=webdriver.Chrome(r"D:\flipnwork\chromedriver.exe ")
    driver.get(url)
    driver.maximize_window()
    driver.execute_script("window.scrollTo(0, 1300);")
    rows=len(driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr"))
    columns=len(driver.find_elements_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[1]/thead/tr/th"))
    print(rows,columns)
    
    final_df=pd.DataFrame()
    for r in range(2,rows+1):
        temp=list()
        for c in range(1,columns):
            temp.append(driver.find_element_by_xpath("//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr["+str(r)+"]/td["+str(c)+"]").text)
        df = pd.DataFrame(temp)
        df = df.T
        final_df = pd.concat([final_df,df], axis=0, ignore_index=True)
    final_df.columns = ["No","Vedio Name","Upload","View Count","Upload Date"]
    return final_df
    
display(question1("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"))

30 6

,No,Vedio Name,Upload,View Count,Upload Date
0,2.,"""Despacito""[30]",Luis Fonsi featuring Daddy Yankee,7.19,"January 12, 2017"
1,3.,"""Shape of You""[31]",Ed Sheeran,5.18,"January 30, 2017"
2,4.,"""See You Again""[32]",Wiz Khalifa featuring Charlie Puth,4.94,"April 6, 2015"
3,5.,"""Johny Johny Yes Papa""[35]",LooLoo Kids,4.73,"October 8, 2016"
4,6.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.41,"January 31, 2012"
5,7.,"""Uptown Funk""[37]",Mark Ronson featuring Bruno Mars,4.08,"November 19, 2014"
6,8.,"""Gangnam Style""[38]",Psy,3.96,"July 15, 2012"
7,9.,"""Learning Colors – Colorful Eggs on a Farm""[40]",Miroshka TV,3.69,"February 27, 2018"
8,10.,"""Bath Song""[41]",Cocomelon – Nursery Rhymes,3.61,"May 2, 2018"
9,11.,"""Phonics Song with Two Words""[42]",ChuChu TV,3.50,"March 6, 2014"
10,12.,"""Sorry""[43]",Justin Bieber,3.40,"October 22, 2015"
11,13.,"""Sugar""[44]",Maroon 5,3.39,"January 14, 2015"
12,14.,"""Roar""[45]",Katy Perry,3.27,"September 5, 2013"
13,15.,"""Counting Stars""[46]",OneRepublic,3.19,"May 31, 2013"
14,16.,"""Thinking Out Loud""[47]",Ed Sheeran,3.18,"October 7, 2014"
15,17.,"""Dame Tu Cosita""[48]",El Chombo featuring Cutty Ranks,3.10,"April 5, 2018"
16,18.,"""Shake It Off""[49]",Taylor Swift,3.02,"August 18, 2014"
17,19.,"""Faded""[50]",Alan Walker,2.98,"December 3, 2015"
18,20.,"""Lean On""[51]",Major Lazer and DJ Snake featuring MØ,2.97,"March 22, 2015"
19,21.,"""Bailando""[52]",Enrique Iglesias featuring Descemer Bueno and ...,2.97,"April 11, 2014"
20,22.,"""Dark Horse""[53]",Katy Perry featuring Juicy J,2.96,"February 20, 2014"
21,23.,"""Girls Like You""[54]",Maroon 5 featuring Cardi B,2.95,"May 31, 2018"
22,24.,"""Let Her Go""[55]",Passenger,2.90,"July 25, 2012"
23,25.,"""Mi Gente""[56]",J Balvin and Willy William,2.86,"June 29, 2017"
24,26.,"""Hello""[57]",Adele,2.78,"October 22, 2015"
25,27.,"""Waka Waka (This Time for Africa)""[58]",Shakira featuring Freshlyground,2.73,"June 4, 2010"
26,28.,"""Perfect""[59]",Ed Sheeran,2.73,"November 9, 2017"
27,29.,"""Blank Space""[60]",Taylor Swift,2.71,"November 10, 2014"
28,30.,"""Chantaje""[61]",Shakira featuring Maluma,2.62,"November 18, 2016"

#  Question 2: Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [126]:
alldata=[]
alldata1=[]
driver=webdriver.Chrome(r"D:\flipnwork\chromedriver.exe ")
url="https://www.bcci.tv/"
driver.get(url)
driver.maximize_window()
element1=driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]")
fixtures=driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a")

actions=ActionChains(driver)
actions.move_to_element(element1).move_to_element(fixtures).click().perform()
driver.execute_script("document.querySelector(\"#TestAlexFilter > div > ul > li:nth-child(4) > span\")")
time.sleep(5)
driver.execute_script("document.querySelector(\"#TestAlexFilter > div > ul > li:nth-child(4) > span\").click()");
driver.execute_script("document.querySelector(\"body > div.body-content > div > div > div.page-content__inner > section > div > div > h3 > strong\").click()")
driver.execute_script("window.scrollTo(0,100);")

In [128]:
day=[]
day1=[]
day1=driver.find_elements_by_css_selector("body > div.body-content > div > div > div.page-content__inner > section > div > div > a> div.fixture__datetime.desktop-only > span")
for i in day1:
    if i.text is None :
        day.append("--") 
    else:
        day.append(i.text)
print(day)

['Tuesday', 'Friday', 'Sunday']

In [129]:
date1=[]
date11=[]
d=[]
date11=driver.find_elements_by_css_selector("body > div.body-content > div > div > div.page-content__inner > section > div > div > a > div.fixture__datetime.desktop-only > div")
for i in date11:
    if i.text is None :
        date1.append("--") 
    else:
        date1.append(i.text)
print(date1)

['23\nMARCH\n13:30 IST', '26\nMARCH\n13:30 IST', '28\nMARCH\n13:30 IST']

In [130]:
import re
for sub in date1:
    d.append(re.sub('\n', ' ', sub))
print(d)

['23 MARCH 13:30 IST', '26 MARCH 13:30 IST', '28 MARCH 13:30 IST']

In [131]:
title=[]
title1=[]
title1=driver.find_elements_by_css_selector("body > div.body-content > div > div > div.page-content__inner > section > div > div > a> div.fixture__info.u-skewed > div.fixture__description.u-unskewed-text > p > strong")
for i in title1:
    if i.text is None :
        title.append("--") 
    else:
        title.append(i.text)
print(title)

['1st ODI', '2nd ODI', '3rd ODI']

In [132]:
series=[]
series1=[]
series=driver.find_elements_by_css_selector("body > div.body-content > div > div > div.page-content__inner > section > div > div > a> div.fixture__info.u-skewed > div.fixture__format-strip > span.u-unskewed-text.fixture__tournament-label.u-truncated")
for i in series:
    if i.text is None :
        series1.append("--") 
    else:
        series1.append(i.text)
print(series1)

['INDIA V ENGLAND 2021', 'INDIA V ENGLAND 2021', 'INDIA V ENGLAND 2021']

In [133]:
place=[]
place1=[]
place1=driver.find_elements_by_css_selector("body > div.body-content > div > div > div.page-content__inner > section > div > div > a> div.fixture__info.u-skewed > div.fixture__description.u-unskewed-text > p > span")
for i in place1:
    if i.text is None :
        place.append("--") 
    else:
        place.append(i.text)
print(place)

['Maharashtra Cricket Association Stadium, Pune', 'Maharashtra Cricket Association Stadium, Pune', 'Maharashtra Cricket Association Stadium, Pune']

In [134]:
df=pd.DataFrame({"title":title,"series":series1,"Place":place,"Date":d})
display(df)

,title,series,Place,Date
0,1st ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",23 MARCH 13:30 IST
1,2nd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",26 MARCH 13:30 IST
2,3rd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",28 MARCH 13:30 IST

In [71]:
df.to_csv('q2.csv', index = False)

# question 3 Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [3]:
driver=webdriver.Chrome(r"D:\flipnwork\chromedriver.exe ")
url="https://www.guru99.com/"
driver.get(url)
driver.maximize_window()
time.sleep(3)
driver.execute_script("document.querySelector(\"#java_technologies > li:nth-child(3) > a\").click()")
time.sleep(3)
driver.execute_script("window.scrollTo(0,3000);")

driver.execute_script("document.querySelector(\"#g-mainbar > div > div > div > div > div > div > div:nth-child(3) > table:nth-child(25) > tbody > tr:nth-child(34) > td.responsivetable > a\").click()")
time.sleep(5)

In [14]:
main=[]
main1=[]
main=driver.find_elements_by_css_selector("#g-mainbar > div:nth-child(1) > div > div > div > div > div > div:nth-child(3) > table > tbody > tr> td:nth-child(1)")
for i in main:
    if i.text is None :
        main1.append("--") 
    else:
        main1.append(i.text)
print(main1)

['Exception name', 'ElementNotVisibleException', 'ElementNotSelectableException', 'NoSuchElementException', 'NoSuchFrameException', 'NoAlertPresentException', 'NoSuchWindowException', 'StaleElementReferenceException', 'SessionNotFoundException', 'TimeoutException', 'WebDriverException', 'ConnectionClosedException', 'ElementClickInterceptedException', 'ElementNotInteractableException', 'ErrorInResponseException', 'ErrorHandler.UnknownServerException', 'ImeActivationFailedException', 'ImeNotAvailableException', 'InsecureCertificateException', 'InvalidArgumentException', 'InvalidCookieDomainException', 'InvalidCoordinatesException', 'InvalidElementStateExceptio', 'InvalidSessionIdException', 'InvalidSwitchToTargetException', 'JavascriptException', 'JsonException', 'NoSuchAttributeException', 'MoveTargetOutOfBoundsException', 'NoSuchContextException', 'NoSuchCookieException', 'NotFoundException', 'RemoteDriverServerException', 'ScreenshotException', 'SessionNotCreatedException', 'UnableToSetCookieException', 'UnexpectedTagNameException', 'UnhandledAlertException', 'UnexpectedAlertPresentException', 'UnknownMethodException', 'UnreachableBrowserException', 'UnsupportedCommandException']

In [21]:
exp1=[]
exp11=[]
exp11=driver.find_elements_by_css_selector("#g-mainbar > div:nth-child(1) > div > div > div > div > div > div:nth-child(3) > table > tbody > tr> td:nth-child(2)")
for i in exp11:
    if i.text is None :
        exp1.append("--") 
    else:
        exp1.append(i.text)
print(exp1)

['Description', 'This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.', 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.', 'This Exception occurs if an element could not be found.', 'This Exception occurs if the frame target to be switched to does not exist.', 'This Exception occurs when you switch to no presented alert.', 'This Exception occurs if the window target to be switch does not exist.', 'This Selenium exception occurs happens when the web element is detached from the current DOM.', 'The WebDriver is acting after you quit the browser.', "Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn't found in the specified time.", 'This Exception takes place when the WebDriver is acting right after you close the browser.', 'This type of Exception takes place when there is a disconnection in the driver.', 'The command may not be completed as the element receiving the events is concealing the element which was requested clicked.', 'This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.', 'This happens while interacting with the Firefox extension or the remote driver server.', 'Exception is used as a placeholder in case if the server returns an error without a stack trace.', 'This expectation will occur when IME engine activation has failed.', 'It takes place when IME support is unavailable.', 'Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.', 'It occurs when an argument does not belong to the expected type.', 'This happens when you try to add a cookie under a different domain instead of current URL.', 'This type of Exception matches an interacting operation that is not valid.', "It occurs when command can't be finished when the element is invalid.", 'This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.', 'This occurs when the frame or window target to be switched does not exist.', 'This issue occurs while executing JavaScript given by the user.', 'It occurs when you afford to get the session when the session is not created.', 'This kind of Exception occurs when the attribute of an element could not be found.', 'It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.', 'ContextAware does mobile device testing.', 'This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.', 'This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.', 'This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.', 'It is not possible to capture a screen.', 'It happens when a new session could not be successfully created.', 'This occurs if a driver is unable to set a cookie.', 'Happens if a support class did not get a web element as expected.', 'This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.', 'It occurs when there is the appearance of an unexpected alert.', 'This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.', 'This Exception occurs only when the browser is not able to be opened or crashed because of some reason.', "This occurs when remote WebDriver does n't send valid commands as expected."]

In [23]:
df=pd.DataFrame({"Exception name":main1[1:],"Description":exp1[1:],})
display(df)

,Exception name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

In [72]:
df.to_csv('q3.csv', index = False)

#  question-4:Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [38]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [74]:
url='http://statisticstimes.com/economy/india/indian-states-gdp.php'
res=requests.get(url=url)
res
soup=BeautifulSoup(res.content)

In [75]:
c=soup.find_all("table")[1]
df=pd.read_html(str(c))[0]
df.shape
df.head()

  Rank          State GSDP (Cr INR at Current prices)            Share  \
  Rank          State                           19-20    18-19   18-19
0  1.0    Maharashtra                               -  2632792  13.88%
1  2.0  Uttar Pradesh                         1794508  1668229   8.79%
2  3.0     Tamil Nadu                         1845853  1630208   8.59%
3  4.0      Karnataka                         1699115  1544399   8.14%
4  5.0        Gujarat                               -  1502899   7.92%

  GDP ($billion) GSDP (Cr INR at 2011-12 prices)
            2019                           19-20    18-19
0        398.145                               -  2039074
1        252.278                         1187277  1137469
2        246.529                         1312929  1215307
3        233.552                         1201031  1124423
4        227.276                               -  1186379

In [49]:
df.shape

(34, 8)

In [76]:
c=soup.find_all("table")[2]
df1=pd.read_html(str(c))[0]
df.shape
df1.head()

  Rank          State NSDP (Cr INR at Current prices)            Share  \
  Rank          State                           19-20    18-19   18-19
0  1.0    Maharashtra                               -  2332992  13.90%
1  2.0  Uttar Pradesh                         1603083  1491311   8.88%
2  3.0     Tamil Nadu                         1659210  1465361   8.73%
3  4.0      Karnataka                         1550297  1409126   8.39%
4  5.0        Gujarat                               -  1322936   7.88%

  NSDP (Cr INR at 2011-12 prices)
                            19-20    18-19
0                               -  1794123
1                         1039180   995999
2                         1167776  1079894
3                         1085599  1016514
4                               -  1036859

In [77]:
df.to_csv('q4.csv', index = False)
df1.to_csv('q4.1.csv', index = False)

# Question-5 Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [5]:
driver = webdriver.Chrome("D:\chromedriver_win32\chromedriver.exe")
url="https://github.com/"
driver.get(url)
driver.maximize_window()
time.sleep(3)

In [6]:
explore=driver.find_element_by_css_selector("body > div.position-relative.js-header-wrapper > header > div > div.HeaderMenu.HeaderMenu--logged-out.position-fixed.top-0.right-0.bottom-0.height-fit.position-lg-relative.d-lg-flex.flex-justify-between.flex-items-center.flex-auto > nav > ul > li:nth-child(4) > details > summary")
trending=driver.find_element_by_css_selector("body > div.position-relative.js-header-wrapper > header > div > div.HeaderMenu.HeaderMenu--logged-out.position-fixed.top-0.right-0.bottom-0.height-fit.position-lg-relative.d-lg-flex.flex-justify-between.flex-items-center.flex-auto > nav > ul > li:nth-child(4) > details > div > ul:nth-child(3) > li:nth-child(3) > a")
actions=ActionChains(driver)
actions.move_to_element(explore).move_to_element(trending).click().perform()

In [10]:
title=[]
title1=[]
title=driver.find_elements_by_css_selector("body > div.application-main > main > div.explore-pjax-container.container-lg.p-responsive.pt-6 > div > div:nth-child(2) > article> h1 > a")
for i in title:
    if i.text is None :
        title1.append("--") 
    else:
        title1.append(i.text)
print(title1)

['libsdl-org / SDL', 'Azure / azure-quickstart-templates', 'system76 / launch', 'benbjohnson / litestream', 'mbround18 / valheim-docker', 'deepmind / deepmind-research', 'satwikkansal / wtfpython', 'vlang / v', 'serhii-londar / open-source-mac-os-apps', 'PowerShell / PowerShell', 'ossu / computer-science', 'iptv-org / iptv', 'streamich / react-use', 'Azure / azure-rest-api-specs', 'adityatelange / hugo-PaperMod', 'reactend / reactend-express', 'flybywiresim / a32nx', 'Dimbreath / GenshinData', 'hashicorp / vault', 'abhishekkrthakur / colabcode', 'florisboard / florisboard', 'goreleaser / goreleaser', 'donnemartin / system-design-primer', 'dotnet / aspnetcore', 'reed-hong / awesome-libra']

In [11]:
len(title1)

25

In [12]:
description=[]
description1=[]
description1=driver.find_elements_by_css_selector("body > div.application-main > main > div.explore-pjax-container.container-lg.p-responsive.pt-6 > div > div:nth-child(2) > article > p")
for i in description1:
    if i.text is None :
        description.append("--") 
    else:
        description.append(i.text)
print(description)

['Simple Directmedia Layer', 'Azure Quickstart Templates', 'System76 Launch Configurable Keyboard', 'Streaming S3 replication for SQLite.', 'Valheim Docker server with Odin the CLI tool.', 'This repository contains implementations and illustrative code to accompany DeepMind publications', 'What the f*ck Python? 😱', 'Simple, fast, safe, compiled language for developing maintainable software. Compiles itself in <1s with zero library dependencies. https://vlang.io', '🚀 Awesome list of open source applications for macOS. https://t.me/opensourcemacosapps', 'PowerShell for every system!', '🎓 Path to a free self-taught education in Computer Science!', 'Collection of 5000+ publicly available IPTV channels from all over the world', 'React Hooks — 👍', 'The source for REST API specifications for Microsoft Azure.', 'A fast, clean, responsive Hugo theme', 'React renderer to build Node.js server', 'The A32NX Project is a community driven open source project to create a free Airbus A320neo in Microsoft Flight Simulator that is as close to reality as possible. It aims to enhance the default A320neo by improving the systems depth and functionality to bring it up to payware-level, all for free.', 'Repository containing the game data for the game Genshin Impact.', 'A tool for secrets management, encryption as a service, and privileged access management', 'Run VSCode (codeserver) on Google Colab or Kaggle Notebooks', 'An open-source keyboard for Android. Currently in alpha/early-beta stage.', 'Deliver Go binaries as fast and easily as possible', 'Learn how to design large-scale systems. Prep for the system design interview. Includes Anki flashcards.', 'ASP.NET Core is a cross-platform .NET framework for building modern cloud-based web applications on Windows, Mac, or Linux.', 'A Curated List of Awesome Facebook Libra Resources']

In [14]:
len(description)

25

In [ ]:
body > div.application-main > main > div.explore-pjax-container.container-lg.p-responsive.pt-6 > div > div:nth-child(2) > article > div.f6.text-gray.mt-2 > a:nth-child(2)

In [16]:
rating=[]
rating1=[]
rating=driver.find_elements_by_css_selector("body > div.application-main > main > div.explore-pjax-container.container-lg.p-responsive.pt-6 > div > div:nth-child(2) > article > div.f6.text-gray.mt-2 > a:nth-child(2)")
for i in rating:
    if i.text is None :
        rating1.append("--") 
    else:
        rating1.append(i.text)
print(rating1)

['549', '9,483', '818', '2,090', '117', '5,250', '24,710', '22,289', '24,889', '24,411', '10,831', '27,725', '19,653', '1,082', '652', '247', '3,002', '19', '20,148', '1,139', '622', '7,359', '121,045', '21,088', '173']

In [22]:
language=[]
language1=[]
language=driver.find_elements_by_css_selector("body > div.application-main > main > div.explore-pjax-container.container-lg.p-responsive.pt-6 > div > div:nth-child(2) > article> div.f6.text-gray.mt-2 > span.d-inline-block.ml-0.mr-3 > span:nth-child(2)")
for i in language:
    if i.text is None :
        language1.append("--") 
    else:
        language1.append(i.text)
print(language1)#A) Repository title B) Repository description C) Contributors count D) Language used

['C', 'PowerShell', 'Shell', 'Go', 'Rust', 'Jupyter Notebook', 'Python', 'V', 'Swift', 'C#', 'JavaScript', 'TypeScript', 'TypeScript', 'HTML', 'JavaScript', 'JavaScript', 'Go', 'Python', 'Kotlin', 'Go', 'Python', 'C#']

In [23]:
df=pd.DataFrame({"Repository title":title1,"Repository description":description,"Contributors count":rating1,})
display(df)

,Repository title,Repository description,Contributors count
0,libsdl-org / SDL,Simple Directmedia Layer,549
1,Azure / azure-quickstart-templates,Azure Quickstart Templates,"9,483"
2,system76 / launch,System76 Launch Configurable Keyboard,818
3,benbjohnson / litestream,Streaming S3 replication for SQLite.,"2,090"
4,mbround18 / valheim-docker,Valheim Docker server with Odin the CLI tool.,117
5,deepmind / deepmind-research,This repository contains implementations and i...,"5,250"
6,satwikkansal / wtfpython,What the f*ck Python? 😱,"24,710"
7,vlang / v,"Simple, fast, safe, compiled language for deve...","22,289"
8,serhii-londar / open-source-mac-os-apps,🚀 Awesome list of open source applications for...,"24,889"
9,PowerShell / PowerShell,PowerShell for every system!,"24,411"
10,ossu / computer-science,🎓 Path to a free self-taught education in Comp...,"10,831"
11,iptv-org / iptv,Collection of 5000+ publicly available IPTV ch...,"27,725"
12,streamich / react-use,React Hooks — 👍,"19,653"
13,Azure / azure-rest-api-specs,The source for REST API specifications for Mic...,"1,082"
14,adityatelange / hugo-PaperMod,"A fast, clean, responsive Hugo theme",652
15,reactend / reactend-express,React renderer to build Node.js server,247
16,flybywiresim / a32nx,The A32NX Project is a community driven open s...,"3,002"
17,Dimbreath / GenshinData,Repository containing the game data for the ga...,19
18,hashicorp / vault,"A tool for secrets management, encryption as a...","20,148"
19,abhishekkrthakur / colabcode,Run VSCode (codeserver) on Google Colab or Kag...,"1,139"
20,florisboard / florisboard,An open-source keyboard for Android. Currently...,622
21,goreleaser / goreleaser,Deliver Go binaries as fast and easily as poss...,"7,359"
22,donnemartin / system-design-primer,Learn how to design large-scale systems. Prep ...,"121,045"
23,dotnet / aspnetcore,ASP.NET Core is a cross-platform .NET framewor...,"21,088"
24,reed-hong / awesome-libra,A Curated List of Awesome Facebook Libra Resou...,173

In [78]:
df.to_csv('q5.csv', index = False)

# 6. Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billiboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [71]:
driver = webdriver.Chrome("D:\chromedriver_win32\chromedriver.exe")
url="https://www.billboard.com/"
driver.get(url)
driver.maximize_window()
time.sleep(5)

In [72]:
driver.execute_script("document.querySelector(\"#root > div.sticky.header__sticky > div.header__sticky__child > header > div > ul > li:nth-child(1) > a\").click()")

In [73]:
driver.find_element_by_css_selector("#main > div:nth-child(2) > div > div:nth-child(1) > a > div.charts-landing__info.charts-landing__info--hot-100 > div.charts-landing__info--view-chart-holder").click()

In [74]:
song_name=[]
song_name1=[]

song_name1=driver.find_elements_by_css_selector("#charts > div > div.chart-list__wrapper > div > ol > li> button > span.chart-element__information > span.chart-element__information__song.text--truncate.color--primary")
for i in song_name1:
    if i.text is None :
        song_name.append("--") 
    else:
        song_name.append(i.text)
print(song_name)

['Drivers License', 'Mood', 'Blinding Lights', '34+35', 'Levitating', 'Go Crazy', 'Positions', 'Save Your Tears', 'Holy', 'Whoopty', 'Good Days', 'Lonely', 'What You Know Bout Love', 'Therefore I Am', 'For The Night', 'Bang!', 'Better Together', 'Streets', 'I Hope', 'Body', 'Dakiti', 'Lemonade', 'You Broke Me First.', 'Laugh Now Cry Later', "My Ex's Best Friend", 'Wasted On You', "You're Mines Still", 'Anyone', 'Willow', 'On Me', 'Good Time', 'Sand In My Boots', 'Throat Baby (Go Baby)', 'Before You Go', '7 Summers', 'Starting Over', 'Back In Blood', 'More Than My Hometown', 'Finesse Out The Gang Way', 'Hole In The Bottle', 'Kings & Queens', 'Best Friend', 'Cry Baby', 'Rockstar', 'Afterglow', 'Dynamite', 'Happy Does', "Somebody's Problem", 'Whats Poppin', 'Put Your Records On', 'Damage', 'Without You', "Should've Ducked", 'Just The Way', 'Beers And Sunshine', 'Down To One', "What's Your Country Song", 'Beat Box', 'Diamonds', 'The Good Ones', 'Golden', 'Buss It', 'Goosebumps', 'Monsters', 'Long Live', 'Tyler Herro', 'Cover Me Up', 'Forever After All', 'Back To The Streets', "Still Trappin'", 'Gravity', 'Bichota', 'Bad Boy', 'Baila Conmigo', 'Lady', 'Still Goin Down', '865', 'So Done', 'Warning', 'Holiday', 'Hell Of A View', 'Girl Like Me', "Momma's House", 'Big, Big Plans', 'Monster', 'Heat Waves', 'Stay Down', 'Somebody Like That', 'Skin', 'Moonwalking In Calabasas', 'Kanye Krazy', 'Pick Up Your Feelings', 'You Got It', 'One Too Many', 'Backdoor', 'Fake Woke', 'Prisoner', 'Dangerous', 'Almost Maybes', 'Mr. Right Now']

In [75]:
len(song_name)

100

In [76]:
name=[]
name1=[]

name1=driver.find_elements_by_css_selector("#charts > div > div.chart-list__wrapper > div > ol > li> button > span.chart-element__information > span.chart-element__information__artist.text--truncate.color--secondary")
for i in name1:
    if i.text is None :
        name.append("--") 
    else:
        name.append(i.text)
print(name)

['Olivia Rodrigo', '24kGoldn Featuring iann dior', 'The Weeknd', 'Ariana Grande', 'Dua Lipa Featuring DaBaby', 'Chris Brown & Young Thug', 'Ariana Grande', 'The Weeknd', 'Justin Bieber Featuring Chance The Rapper', 'CJ', 'SZA', 'Justin Bieber & benny blanco', 'Pop Smoke', 'Billie Eilish', 'Pop Smoke Featuring Lil Baby & DaBaby', 'AJR', 'Luke Combs', 'Doja Cat', 'Gabby Barrett Featuring Charlie Puth', 'Megan Thee Stallion', 'Bad Bunny & Jhay Cortez', 'Internet Money & Gunna Featuring Don Toliver & NAV', 'Tate McRae', 'Drake Featuring Lil Durk', 'Machine Gun Kelly X blackbear', 'Morgan Wallen', 'Yung Bleu Featuring Drake', 'Justin Bieber', 'Taylor Swift', 'Lil Baby', 'Niko Moon', 'Morgan Wallen', 'BRS Kash', 'Lewis Capaldi', 'Morgan Wallen', 'Chris Stapleton', 'Pooh Shiesty Featuring Lil Durk', 'Morgan Wallen', 'Lil Durk Featuring Lil Baby', 'Kelsea Ballerini', 'Ava Max', 'Saweetie Featuring Doja Cat', 'Megan Thee Stallion Featuring DaBaby', 'DaBaby Featuring Roddy Ricch', 'Ed Sheeran', 'BTS', 'Kenny Chesney', 'Morgan Wallen', 'Jack Harlow Featuring DaBaby, Tory Lanez & Lil Wayne', 'Ritt Momney', 'H.E.R.', 'The Kid LAROI', 'Lil Durk Featuring Pooh Shiesty', 'Parmalee x Blanco Brown', 'Darius Rucker', 'Luke Bryan', 'Thomas Rhett', 'SpotemGottem', 'Sam Smith', 'Gabby Barrett', 'Harry Styles', 'Erica Banks', 'Travis Scott & HVME', 'All Time Low Featuring Demi Lovato & blackbear', 'Florida Georgia Line', 'Jack Harlow', 'Morgan Wallen', 'Luke Combs', 'Saweetie Featuring Jhene Aiko', 'Lil Durk & King Von', 'Brent Faiyaz & DJ Dahi Featuring Tyler, The Creator', 'Karol G', 'Juice WRLD & Young Thug', 'Selena Gomez With Rauw Alejandro', 'Brett Young', 'Morgan Wallen', 'Morgan Wallen', 'The Kid LAROI', 'Morgan Wallen', 'Lil Nas X', 'Eric Church', 'Black Eyed Peas X Shakira', 'Dustin Lynch', 'Chris Lane', 'Shawn Mendes & Justin Bieber', 'Glass Animals', 'Lil Durk, 6LACK & Young Thug', 'Tenille Arts', 'Sabrina Carpenter', 'DDG', 'Lil Durk', 'Jazmine Sullivan', 'VEDO', 'Keith Urban Duet With P!nk', 'Lil Durk', 'Tom MacDonald', 'Miley Cyrus Featuring Dua Lipa', 'Morgan Wallen', 'Jordan Davis', '21 Savage & Metro Boomin Featuring Drake']

In [77]:
len(name1)

100

In [78]:
rank1=[]
rank=[]
rank=driver.find_elements_by_css_selector("#charts > div > div.chart-list__wrapper > div > ol > li> button > span.chart-element__rank.flex--column.flex--xy-center.flex--no-shrink > span.chart-element__rank__number")
for i in rank:
    if i.text is None :
        rank1.append("--") 
    else:
        rank1.append(i.text)
print(rank1)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99', '100']

In [79]:
len(rank1)

100

In [80]:
#charts > div > div.chart-list__wrapper > div > ol > li> button > div > div.chart-element__meta.text--center.color--secondary.text--last

In [88]:
lastweek=[]
lastweek1=[]
lastweek=driver.find_elements_by_css_selector("#charts > div > div.chart-list__wrapper > div > ol > li > button > div > div.chart-element__meta.text--center.color--secondary.text--last")
for i in lastweek:
    if i.text is None :
        lastweek1.append("--") 
    else:
        lastweek1.append(i.text)
print(lastweek1)

['1', '2', '3', '4', '5', '6', '7', '14', '8', '16', '9', '13', '19', '12', '11', '10', '15', '25', '17', '18', '20', '21', '27', '22', '34', '31', '32', '26', '28', '29', '37', '38', '24', '33', '23', '36', '40', '30', '-', '42', '35', '45', '54', '41', '39', '46', '50', '43', '44', '55', '52', '47', '-', '56', '53', '58', '59', '60', '49', '64', '65', '67', '73', '69', '68', '63', '74', '66', '61', '84', '-', '75', '57', '-', '86', '72', '77', '79', '76', '71', '90', '85', '87', '82', '70', '91', '-', '89', '48', '88', '-', '-', '95', '96', '-', '-', '81', '-', '-', '80']

In [89]:
len(lastweek)

100

In [90]:
peakrank=[]
peakrank1=[]
peakrank1=driver.find_elements_by_css_selector("#charts > div > div.chart-list__wrapper > div > ol > li> button > div > div.chart-element__meta.text--center.color--secondary.text--peak")
for i in peakrank1:
    if i.text is None :
        peakrank.append("--") 
    else:
        peakrank.append(i.text)
print(peakrank)

['1', '1', '1', '2', '5', '5', '1', '8', '3', '10', '9', '12', '13', '2', '6', '8', '15', '18', '3', '12', '5', '6', '23', '2', '25', '9', '27', '6', '1', '29', '31', '32', '24', '9', '6', '25', '37', '15', '39', '40', '13', '39', '43', '1', '29', '1', '47', '25', '2', '50', '51', '47', '53', '54', '53', '56', '57', '58', '39', '60', '61', '62', '63', '64', '65', '34', '52', '2', '58', '53', '71', '72', '22', '74', '75', '45', '46', '59', '42', '37', '81', '82', '83', '42', '8', '86', '73', '88', '48', '82', '91', '92', '87', '62', '62', '96', '54', '62', '95', '10']

In [91]:
len(peakrank)

100

In [92]:
week=[]
week1=[]
week1=driver.find_elements_by_css_selector("#charts > div > div.chart-list__wrapper > div > ol > li> button > div > div.chart-element__meta.text--center.color--secondary.text--week")
for i in week1:
    if i.text is None :
        week.append("--") 
    else:
        week.append(i.text)
print(week)

['4', '26', '61', '14', '18', '39', '15', '8', '20', '13', '6', '16', '22', '13', '31', '31', '18', '4', '58', '11', '14', '25', '24', '25', '25', '4', '9', '5', '8', '9', '18', '4', '16', '50', '24', '23', '5', '32', '1', '16', '26', '4', '9', '41', '7', '24', '12', '8', '51', '16', '8', '9', '1', '6', '8', '6', '7', '3', '20', '6', '15', '4', '3', '6', '5', '15', '5', '15', '11', '6', '1', '10', '3', '1', '4', '7', '4', '13', '4', '12', '4', '4', '4', '18', '11', '3', '4', '3', '2', '6', '1', '2', '6', '8', '4', '1', '11', '3', '2', '18']

In [93]:
len(week)

100

In [94]:
df=pd.DataFrame({"Song name":song_name,"Artist name":name,"Last week rank":lastweek1,"Peak rank":peakrank,"Weeks on board ":week,})
display(df)

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Drivers License,Olivia Rodrigo,1,1,4
1,Mood,24kGoldn Featuring iann dior,2,1,26
2,Blinding Lights,The Weeknd,3,1,61
3,34+35,Ariana Grande,4,2,14
4,Levitating,Dua Lipa Featuring DaBaby,5,5,18
...,...,...,...,...,...
95,Fake Woke,Tom MacDonald,-,96,1
96,Prisoner,Miley Cyrus Featuring Dua Lipa,81,54,11
97,Dangerous,Morgan Wallen,-,62,3
98,Almost Maybes,Jordan Davis,-,95,2
99,Mr. Right Now,21 Savage & Metro Boomin Featuring Drake,80,10,18

In [79]:
df.to_csv('q6.csv', index = False)

# 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [68]:
driver = webdriver.Chrome("D:\chromedriver_win32\chromedriver.exe")
url="https://www.naukri.com/"
driver.get(url)
driver.maximize_window()
time.sleep(5)
driver.execute_script("document.querySelector(\"#root > div.headGNBWrap.initial.fixed > div > ul.midSec.menu > li:nth-child(2) > a\").click()")

In [69]:
#prints the window handle in focus
print(driver.current_window_handle)
#to fetch the first child window handle
chwnd = driver.window_handles[1]
#to switch focus the first child window handle
driver.switch_to.window(chwnd)

driver.find_element_by_class_name("sugInp").send_keys("Data science")

CDwindow-1CF3F4DBE5CA255DAA83394FF707CE22

In [70]:

button=driver.find_element_by_css_selector("#qsbFormBtn").click()

In [71]:
Ename=[]
Ename1=[]
Ename=driver.find_elements_by_css_selector("#tabP-1> div> div.recSec.fl.fadeInUp > div.recInfo > div.vcard > p > a:nth-child(1) > span")

for i in Ename:
    if i.text is None :
        Ename1.append("--") 
    else:
        Ename1.append(i.text)
print(Ename1)

['Aakash Harit', 'Talent Acquisition Executive', 'MARSIAN Technologies LLP', 'Jitendra Singh', 'Institute for Financial Management and Resear', 'Asif Lucknowi', 'Kalpana Dumpala', 'Kushal Rastogi', 'Kapil Devang', 'Mahesh Babu Channa', 'Faizan Kareem', 'Azahar Shaikh', 'Shaun Rao', 'kumar', 'Rajat Kumar', 'Prateek Kumar', 'Amit Sharma', 'Shashikant Chaudhary', 'Rutuja Pawar', 'Ankit Sinha', 'Rashi Kacker', 'Balaji Kolli', 'ROHIT Kumar', 'Shailja Mishra', 'Sagar Lama']

In [72]:
Ename=driver.find_elements_by_css_selector("#tabP-1 > div> div.recSec.fr.fadeInUp > div.recInfo > div.vcard > p > a:nth-child(1) > span")

for i in Ename:
    if i.text is None :
        Ename1.append("--") 
    else:
        Ename1.append(i.text)
print(Ename1)

['Aakash Harit', 'Talent Acquisition Executive', 'MARSIAN Technologies LLP', 'Jitendra Singh', 'Institute for Financial Management and Resear', 'Asif Lucknowi', 'Kalpana Dumpala', 'Kushal Rastogi', 'Kapil Devang', 'Mahesh Babu Channa', 'Faizan Kareem', 'Azahar Shaikh', 'Shaun Rao', 'kumar', 'Rajat Kumar', 'Prateek Kumar', 'Amit Sharma', 'Shashikant Chaudhary', 'Rutuja Pawar', 'Ankit Sinha', 'Rashi Kacker', 'Balaji Kolli', 'ROHIT Kumar', 'Shailja Mishra', 'Sagar Lama', 'shravan Kumar Gaddam', 'Anik Agrawal', 'subhas patel', 'Abhishek - Only Analytics Hiring - India and', 'Balu Ramesh', 'InstaFinancials', 'Mubarak', 'Manisha Yadav', 'Riya Rajesh', 'Rashmi Bhattacharjee', 'Rithika dadwal', 'Sandhya Khandagale', 'Manas', 'Sunil Vedula', 'Jayanth N', 'SREEDHAR', 'Kanan', 'Brad', 'Madhusudhan Sridhar', 'Gaurav Chouhan', 'Ashwini', 'Rajani Nagaraj', 'Amir Chowdhury', 'Sunny Sharma', 'Dr. S. Prasanna Devi']

In [73]:
len(Ename1)

50

In [74]:
Designation=[]
Designation1=[]
Designation1=driver.find_elements_by_css_selector("#tabP-1 > div > div.recSec.fl.fadeInUp > div.recInfo > div.vcard > p > span.ellipsis.clr")

for i in Designation1:
    if i.text is None :
        Designation.append("--") 
    else:
        Designation.append(i.text)
print(Designation)

['HR Manager', 'Recruitment Professional', 'Company HR', 'Manager- Talent Acquisition', 'Programme Manager', 'Director', 'Executive Hiring', 'Company HR', 'HR Manager', 'HR Team Lead', 'HR MANAGER', 'Company Recruiter', 'Manager Human Resources', 'Proprietor', 'Founder CEO', 'Head', 'Consultant', 'HR Recruiter/HR Excutive', 'Technical Recruiter', 'Head Analytics', 'Sr Product Manager', 'Co Founder', 'Architect', 'HR Manager', 'Company HR Manager']

In [75]:
Designation1=driver.find_elements_by_css_selector("#tabP-1 > div > div.recSec.fr.fadeInUp > div.recInfo > div.vcard > p > span.ellipsis.clr")

for i in Designation1:
    if i.text is None :
        Designation.append("--") 
    else:
        Designation.append(i.text)
print(Designation)

['HR Manager', 'Recruitment Professional', 'Company HR', 'Manager- Talent Acquisition', 'Programme Manager', 'Director', 'Executive Hiring', 'Company HR', 'HR Manager', 'HR Team Lead', 'HR MANAGER', 'Company Recruiter', 'Manager Human Resources', 'Proprietor', 'Founder CEO', 'Head', 'Consultant', 'HR Recruiter/HR Excutive', 'Technical Recruiter', 'Head Analytics', 'Sr Product Manager', 'Co Founder', 'Architect', 'HR Manager', 'Company HR Manager', 'Company Recruiter', 'Company Recruiter', 'Founder CEO', 'Recruitment Lead Consultant', 'HR Administrator', 'Human Resource', 'Company HR', 'HR Executive', 'Manager Talent Acquisition', 'HR Head', 'HR Recruiter', 'HR Recruiter', 'Lead Talent acquisition', 'CEO', 'Project Manager', 'Recruitment Consultant', 'senior technology instructor', 'Manager, Technical Recruiting', 'Erp Implementer', 'Chief Technical Officer', 'Director Global Delivery', 'HR Manager', 'Managing Partner', 'Managing Director - HR', 'Professor and Head']

In [76]:
len(Designation)

50

In [78]:
Company=[]
Company1=[]
Company=driver.find_elements_by_css_selector("#tabP-1 > div > div.recSec.fl.fadeInUp > div.recInfo > div.vcard > p > a:nth-child(3)")

for i in Company:
    if i.text is None :
        Company1.append("--") 
    else:
        Company1.append(i.text)
print(Company1)

['Data Science Network', 'XenonStack', 'MARSIAN Technologies LLP', 'Compunnel Technology India Pvt. Ltd', 'IFMR', 'Weupskill- Live Wire India', 'Innominds Software', 'QuantMagnum Technologies Pvt. Ltd.', 'BISP Solutions', 'SocialPrachar.com', 'FirstTech Consaltants Pvt.Ltd', 'NEAL ANALYTICS SERVICES PVT LTD', 'Exela Technologies', 'trainin', 'R.S Consultancy &amp; Services', 'Trisect', 'ASCO consulting', '3D India Staffing Research &amp; Consulting...', 'Demand Matrix', 'Suntech Global', 'Impel Labs Pvt. Ltd.', 'Saras Solutions India Pvt Ltd', 'LNT Private Limited', 'Certybox Pvt.Ltd.', 'AdView']

In [79]:
Company=driver.find_elements_by_css_selector("#tabP-1 > div> div.recSec.fr.fadeInUp > div.recInfo > div.vcard > p > a:nth-child(3)")

for i in Company:
    if i.text is None :
        Company1.append("--") 
    else:
        Company1.append(i.text)
print(Company1)

['Data Science Network', 'XenonStack', 'MARSIAN Technologies LLP', 'Compunnel Technology India Pvt. Ltd', 'IFMR', 'Weupskill- Live Wire India', 'Innominds Software', 'QuantMagnum Technologies Pvt. Ltd.', 'BISP Solutions', 'SocialPrachar.com', 'FirstTech Consaltants Pvt.Ltd', 'NEAL ANALYTICS SERVICES PVT LTD', 'Exela Technologies', 'trainin', 'R.S Consultancy &amp; Services', 'Trisect', 'ASCO consulting', '3D India Staffing Research &amp; Consulting...', 'Demand Matrix', 'Suntech Global', 'Impel Labs Pvt. Ltd.', 'Saras Solutions India Pvt Ltd', 'LNT Private Limited', 'Certybox Pvt.Ltd.', 'AdView', 'Shore Infotech India Pvt. Ltd', 'Enerlytics Software Solutions Pvt Ltd', 'LibraryXProject', 'Apidel Technologies Division of Transpower', 'Techvantage Systems Pvt Ltd', 'CBL Data Science Private Limited', 'MoneyTap', 'Easi Tax', 'Novelworx Digital Solutions', 'AXESTRACK SOFTWARE SOLUTIONS PRIVATE...', 'Affine Analytics', 'Compumatrice Multimedia Pvt Ltd', 'Autumn Leaf Consulting Services Private...', 'Nanoprecise Sci Corp', 'Dollarbird Information Services Pvt, Ltd', 'JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED', 'NY INST', 'O.C. Tanner', 'MADHUSUDHAN SRIDHAR', 'Strategic Consulting Lab', 'MRP Advisers', 'WildJasmine', 'Granular.ai', 'Western Service Providers', 'SRM Institute of Science and Technology']

In [80]:
len(Company1)

50

In [81]:
skill=[]
skill1=[]
skill1=driver.find_elements_by_css_selector("#tabP-1 > div > div.recSec.fl.fadeInUp > div.recInfo > div.hireSec.highlightable")
for i in skill1:
    if i.text is None :
        skill.append("--") 
    else:
        skill.append(i.text)
print(skill)

['Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional', 'Web Designing, html5, Angular.js, seo, hadoop, Cloud Computing, python, Iphone Development, java, Machine Learning, aws, analytics, linux, puppet', 'Data Science, Artificial Intelligence, Machine Learning, Business Analytics', 'Python, Data Science, .Net, Java, Big Data, Data Analytics, Business Intelligence, Msbi, Aws, Microsoft Azure, Devops', 'Data Science', 'Technical Training, Software Development, Presentation Skills, B.tech, M.tech, B.e., mca, msc, Computer Science, freshers, jobs in indore, Data Science, itil', 'Qa, Ui/ux, Java Developer, Java Architect, C++/qt, Php, Lamp, Api, J2ee, Java, Soa, Esb, Middleware, Bigdata Achitect, Hadoop Architect, Deep', 'Office Administration, Hr Administration, telecalling, client relationship management, Client Acquisition, Sales, Reception, HR, Recruitment, Onboarding, Human', 'Big Data, Hadoop, Data Analytics, Data Science', 'Social Media, digital media maketing, seo, smm, smo, sem, Content Wirting, social media marketing, social media manager, digital media marketing manager', 'Data Analytics, Data Science, Machine Learning, Deep Learning, Nlp, Data Mining, Python, R, Database Administration, Text Mining', 'Data Science, Artificial Intelligence, Machine Learning, Data Analytics', 'Java, Net, Angularjs, Hr, Infrastructure, Management, Project Management, Business Analysis, Data Science, Information Technology, Technology', 'Data Science, Hadoop, Rpas, Devops, Python, Aws, Teaching, Big Data', 'Web Technologies, Project Management, Software Architecture, Data Science, Object Oriented Programming, Computer Science, Electrical Engineering, Architecture', 'Java, Python, Angularjs, Software Testing, Machine Learning, Data Science, Javascript, Django, React.js, Node.js, Augmented Reality, Virtual Reality, Advanced', 'Machine Learning, Artificial Intelligence, Data Science, Software Engineering, Software Development, Graduate Engineer Trainee, Fresher, Data Analytics, Java', 'Relationship Management, Retail Sales, Private Banking, Mutual Funds, NISM, Equity, Finance, Financial Products, Financial Services, Verbal, Written', 'Data Science, Big Data Analytics, Digital Marketing, Content Writing, Ui Development, Database Development, Qa Automation, Python, Project Management', 'B.Tech, Tableau, Statistics, R, Analytics, Time Series, Data Science, Business Solutions, SQL, Technical Skills, SSAS, SQL Server, Analysis Services, Qlikview', 'Data Science, Node.js, Angularjs', 'Data Analysis, Learning, Data Science, Computer Science, Communication Skills', 'Software Development, Core Java, Unit Testing, Customer Experience, Problem Solving, Communication Skills, Mysql, Data Science, Sales Management, Analytics', 'consulting, Education Counseling, Educational Sales, Institutional Sales, pmp, Data Science, Business Development, Revenue Generation, Sales Achievement, new', 'Full Stack Developers, Product Manager, Data Science Engineer, Publishers Sales Manager']

In [82]:
skill1=driver.find_elements_by_css_selector("#tabP-1 > div> div.recSec.fr.fadeInUp > div.recInfo > div.hireSec.highlightable")
for i in skill1:
    if i.text is None :
        skill.append("--") 
    else:
        skill.append(i.text)
print(skill)

['Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional', 'Web Designing, html5, Angular.js, seo, hadoop, Cloud Computing, python, Iphone Development, java, Machine Learning, aws, analytics, linux, puppet', 'Data Science, Artificial Intelligence, Machine Learning, Business Analytics', 'Python, Data Science, .Net, Java, Big Data, Data Analytics, Business Intelligence, Msbi, Aws, Microsoft Azure, Devops', 'Data Science', 'Technical Training, Software Development, Presentation Skills, B.tech, M.tech, B.e., mca, msc, Computer Science, freshers, jobs in indore, Data Science, itil', 'Qa, Ui/ux, Java Developer, Java Architect, C++/qt, Php, Lamp, Api, J2ee, Java, Soa, Esb, Middleware, Bigdata Achitect, Hadoop Architect, Deep', 'Office Administration, Hr Administration, telecalling, client relationship management, Client Acquisition, Sales, Reception, HR, Recruitment, Onboarding, Human', 'Big Data, Hadoop, Data Analytics, Data Science', 'Social Media, digital media maketing, seo, smm, smo, sem, Content Wirting, social media marketing, social media manager, digital media marketing manager', 'Data Analytics, Data Science, Machine Learning, Deep Learning, Nlp, Data Mining, Python, R, Database Administration, Text Mining', 'Data Science, Artificial Intelligence, Machine Learning, Data Analytics', 'Java, Net, Angularjs, Hr, Infrastructure, Management, Project Management, Business Analysis, Data Science, Information Technology, Technology', 'Data Science, Hadoop, Rpas, Devops, Python, Aws, Teaching, Big Data', 'Web Technologies, Project Management, Software Architecture, Data Science, Object Oriented Programming, Computer Science, Electrical Engineering, Architecture', 'Java, Python, Angularjs, Software Testing, Machine Learning, Data Science, Javascript, Django, React.js, Node.js, Augmented Reality, Virtual Reality, Advanced', 'Machine Learning, Artificial Intelligence, Data Science, Software Engineering, Software Development, Graduate Engineer Trainee, Fresher, Data Analytics, Java', 'Relationship Management, Retail Sales, Private Banking, Mutual Funds, NISM, Equity, Finance, Financial Products, Financial Services, Verbal, Written', 'Data Science, Big Data Analytics, Digital Marketing, Content Writing, Ui Development, Database Development, Qa Automation, Python, Project Management', 'B.Tech, Tableau, Statistics, R, Analytics, Time Series, Data Science, Business Solutions, SQL, Technical Skills, SSAS, SQL Server, Analysis Services, Qlikview', 'Data Science, Node.js, Angularjs', 'Data Analysis, Learning, Data Science, Computer Science, Communication Skills', 'Software Development, Core Java, Unit Testing, Customer Experience, Problem Solving, Communication Skills, Mysql, Data Science, Sales Management, Analytics', 'consulting, Education Counseling, Educational Sales, Institutional Sales, pmp, Data Science, Business Development, Revenue Generation, Sales Achievement, new', 'Full Stack Developers, Product Manager, Data Science Engineer, Publishers Sales Manager', '.Net, Java, Data Science, Linux Administration, Sql Server Development, Winforms, Wcf Services, Wpf, Telecom Engineering, Technical Management, Software', 'Mean Stack, javascript, angularjs, mongodb, Web Services, rest, express, Node.js, Big Data, iot, Data Science, Cloud Computing, saas, Aws', 'Hadoop, Spark, Digital Strategy, Data Architecture, Command Center, Cdp, Dmp, Kafka, Data Science, Data Analysis, Big Data Analytics, Real Time Analysis, SQL', 'Analytics, Business Intelligence, Business Analytics, Predictive Modeling, Predictive Analytics, Data Science, Data Analysis, Data Analytics, Big Data, Big', 'Machine Learning, algorithms, Go Getter, Computer Science, spark, Big Data, hdfs, sql, cassandra, hadoop, python, scala, java, Data Science, Front End', 'Software Development, It Sales, Account Management, Data Analysis, Customer Service, Sr, Software Engineering, Mvc, Ajax, Asp.net, Html, C#, Javascript', 'Business Intelligence, Data Warehousing, Data Science, Business Analytics, Customer Support, Business Reporting, Bi', 'Telecalling, Client Interaction, Marketing, Research, Web Development, Social Media Marketing, Data Entry Operation, Excel, Ms Office, Invoicing', 'Data Science', 'Corporate Sales, Software Development, Software Sales, Marketing, Creative Designing, Corporate Planning, Senior Management, Crm, Client Relationship', 'Data Science, Machine Learning, Python, R, Deep Learning, Big Data, Hadoop', 'Big Data, Data Science, Artificial Intelligence, Hadoop, Ui Development, Php, Freelancing, .Net, Software Testing, Sap, Leadership Hiring', 'Software Architecture, Vp Engineering, Product Management, analytics, Data Science, Node.js, Principal Engineer, Big Data, python, angularjs, React.js', 'Signal Processing, Machine Learning, Neural Networks, Data Science, Predictive Analytics, Time Series Analysis, Data Visualization, Technical Leadership, Data', 'Data Analytics, Managed Services, Team Leading, python, Machine Learning, Google Analytics, Dmp, Aws, Campaign Analytics, Digital Campaigns, Audience', 'Data Science, Machine Learning, Big Data Analytics, Spark, Python, R, Networking, Network Engineering, Placement, Training, Sql, Marketing, Mainframes, All', 'C, C++, Artificial Intelligence, Python, Php, Web Development, Matlab, Data Science, Augmented Reality, C C++', 'Data Science, Software Engineering', 'Data Science, Recruitment, Salary', 'Software Development, Business Intelligence, Big Data Analytics, Database Administration, Data Science, Microsoft Azure, Spark, Cassandra, Object Oriented', 'Data Science, Media Marketing, Resource Planning, Managed Services, Display Advertising, Machine Learning, Python, Etl, Sql', 'Java, Hadoop, R, Machine Learning, Spark, Flume, Hdfs, Data Mining, Sas, Big, Data Science, Cloudera, Impala, Bigdata', 'Machine Learning, Data Science, Product Management, New Product, Data Analysis, Computer Vision, Deep Learning, Python, Remote Sensing', 'Software Professionals, Engineering, Technical Management, Financial Management, Human Resource Management, Banking, Google Adwords, Business Analysis, It', 'Computer Science, Machine Learning, Deep Learning, Natural Language Processing, Computer Vision, Information Retrieval, Artificial Intelligence, Data Mining']

In [84]:
len(skill)

50

In [64]:
location=[]
location1=[]
superlocation=driver.find_elements_by_css_selector("#tabP-1 > div > div.recSec.fl.fadeInUp > div.recInfo")
for i in superlocation:
    try:
        temp=i.find_element_by_css_selector("div.vcard > p > span:nth-child(4) > small")
        location1.append(temp.text)
    except:
        location1.append("--") 
        continue

In [86]:
location1

['Hyderabad / Secunderabad',
 'Ahmedabad',
 'UK - (london)',
 'Vadodara / Baroda',
 'Trivandrum',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Navi Mumbai',
 'Cochin',
 'Delhi',
 'Pune',
 'Pune',
 'Bengaluru / Bangalore',
 '--',
 'Mysoru / Mysore',
 'Hyderabad / Secunderabad',
 'Chennai',
 'Salt Lake City',
 'Bengaluru / Bangalore',
 'Indore',
 'MYSORE',
 'Bengaluru / Bangalore',
 '--',
 'Mumbai',
 'Chennai']

In [87]:

superlocation=driver.find_elements_by_css_selector("#tabP-1 > div > div.recSec.fr.fadeInUp > div.recInfo")
for i in superlocation:
    try:
        temp=i.find_element_by_css_selector("div.vcard > p > span:nth-child(4) > small")
        location1.append(temp.text)
    except:
        location1.append("--") 
        continue

In [88]:
len(location1)# A) Name B) Designation C) Company D) Skills they hire for E) Location

50

In [92]:
df=pd.DataFrame({" Name ":Ename1,"Designation":Designation,"Company":Company1," Skills they hire for":skill,"Location":location1,})
display(df)

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Hyderabad / Secunderabad
1,Talent Acquisition Executive,Recruitment Professional,XenonStack,"Web Designing, html5, Angular.js, seo, hadoop,...",Ahmedabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",UK - (london)
3,Jitendra Singh,Manager- Talent Acquisition,Compunnel Technology India Pvt. Ltd,"Python, Data Science, .Net, Java, Big Data, Da...",Vadodara / Baroda
4,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Trivandrum
5,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Bengaluru / Bangalore
6,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Bengaluru / Bangalore
7,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Navi Mumbai
8,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Cochin
9,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Delhi
10,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Pune
11,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
12,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Bengaluru / Bangalore
13,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",--
14,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Mysoru / Mysore
15,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Hyderabad / Secunderabad
16,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
17,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
18,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
19,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
20,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
21,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
22,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",--
23,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Mumbai
24,Sagar Lama,Company HR Manager,AdView,"Full Stack Developers, Product Manager, Data S...",Chennai
25,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
26,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
27,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
28,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
29,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
30,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
31,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
32,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
33,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
34,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
35,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
36,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
37,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
38,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",--
39,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
40,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
41,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
42,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
43,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
44,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
45,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",--
48,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical...",Mumbai
49,Dr. S. Prasanna Devi,Professor and Head,SRM Institute of Science and Technology,"Computer Science, Machine Learning, Deep Learn...",Chennai

In [ ]:
df.to_csv('q7.csv', index = False)

# 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [28]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [29]:
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
res=requests.get(url=url)
res
soup=BeautifulSoup(res.content)
soup
c=soup.find_all("table")[0]
df=pd.read_html(str(c))[0]
df.shape
df.head()

In [30]:
soup=BeautifulSoup(res.content)

In [32]:
c=soup.find_all("table")[0]

In [34]:
df=pd.read_html(str(c))[0]

In [35]:
df.shape

(101, 6)

In [80]:
df

    Rank                      State GSDP (Cr INR at Current prices)            \
    Rank                      State                           19-20     18-19
0    1.0                Maharashtra                               -   2632792
1    2.0              Uttar Pradesh                         1794508   1668229
2    3.0                 Tamil Nadu                         1845853   1630208
3    4.0                  Karnataka                         1699115   1544399
4    5.0                    Gujarat                               -   1502899
5    6.0                West Bengal                         1253832   1089898
6    7.0                  Rajasthan                         1020989    942586
7    8.0             Andhra Pradesh                          972782    862957
8    9.0                  Telangana                          969604    861031
9   10.0             Madhya Pradesh                          906672    809592
10  11.0                     Kerala                               -    781653
11  12.0                      Delhi                          856112    774870
12  13.0                    Haryana                          831610    734163
13  14.0                      Bihar                          611804    530363
14  15.0                     Punjab                          574760    526376
15  16.0                     Odisha                          531374    492229
16  17.0                      Assam                               -    315881
17  18.0               Chhattisgarh                          329180    304063
18  19.0                  Jharkhand                          328598    297204
19  20.0                Uttarakhand                               -    245895
20  21.0            Jammu & Kashmir                               -    155956
21  22.0           Himachal Pradesh                          165472    153845
22  23.0                        Goa                               -     73170
23  24.0                    Tripura                           55358     49845
24  25.0                 Chandigarh                               -     42114
25  26.0                 Puducherry                           40802     36656
26  27.0                  Meghalaya                           36572     33481
27  28.0                     Sikkim                           32496     28723
28  29.0                    Manipur                               -     27869
29  30.0                   Nagaland                               -     27283
30  31.0          Arunachal Pradesh                               -     24603
31  32.0                    Mizoram                               -     19520
32  33.0  Andaman & Nicobar Islands                               -         -
33   NaN                      India                        20339849  18971237

     Share GDP ($billion) GSDP (Cr INR at 2011-12 prices)
     18-19           2019                           19-20     18-19
0   13.88%        398.145                               -   2039074
1    8.79%        252.278                         1187277   1137469
2    8.59%        246.529                         1312929   1215307
3    8.14%        233.552                         1201031   1124423
4    7.92%        227.276                               -   1186379
5    5.75%        164.820                          793223    739525
6    4.97%        142.543                          711627    677428
7    4.55%        130.501                          672018    621301
8    4.54%        130.210                          663258    612828
9    4.27%        122.431                          561801    522009
10   4.12%        118.206                               -    559412
11   4.08%        117.180                          634408    590569
12   3.87%        111.024                          572240    531085
13   2.80%         80.204                          414977    375651
14   2.77%         79.601                          418868    397669
15   2.59%         74.437                          402383    382218
16   1.67%         47.769                               -    234048
17   1.60%         45.982                          243477    231182
18   1.57%         44.945                          240036    224986
19   1.30%         37.186                               -    193273
20   0.82%         23.584                               -    112755
21   0.81%         23.265                          124403    117851
22   0.39%         11.065                               -     62539
23   0.26%          7.538                           40527     36963
24   0.22%          6.369                               -     31192
25   0.19%          5.543                           26526     24442
26   0.18%          5.063                           26695     24682
27   0.15%          4.344                           20017     18722
28   0.15%          4.214                               -     19300
29   0.14%          4.126                               -     17647
30   0.13%          3.721                               -     16676
31   0.10%          2.952                               -     14524
32       -              -                               -         -
33     NaN           2869                        14565951  13981426

In [ ]:
df.to_csv('q8.csv', index = False)

# 9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [5]:
driver = webdriver.Chrome("D:\chromedriver_win32\chromedriver.exe")
url=" https://www.imdb.com/list/ls095964455/"
driver.get(url)
driver.maximize_window()
time.sleep(5)

In [7]:
n=[]
n1=driver.find_elements_by_css_selector("#main > div > div.lister.list.detail.sub-list > div.lister-list > div > div.lister-item-content > h3 > a")
for i in n1:
    if i.text is None :
        n.append("--") 
    else:
        n.append(i.text)
print(n)

['Game of Thrones', 'Stranger Things', 'The Walking Dead', '13 Reasons Why', 'The 100', 'Orange Is the New Black', 'Riverdale', "Grey's Anatomy", 'The Flash', 'Arrow', 'Money Heist', 'The Big Bang Theory', 'Black Mirror', 'Sherlock', 'Vikings', 'Pretty Little Liars', 'The Vampire Diaries', 'American Horror Story', 'Breaking Bad', 'Lucifer', 'Supernatural', 'Prison Break', 'How to Get Away with Murder', 'Teen Wolf', 'The Simpsons', 'Once Upon a Time', 'Narcos', 'Daredevil', 'Friends', 'How I Met Your Mother', 'Suits', 'Mr. Robot', 'The Originals', 'Supergirl', 'Gossip Girl', 'Sense8', 'Gotham', 'Westworld', 'Jessica Jones', 'Modern Family', 'Rick and Morty', 'Shadowhunters', 'The End of the F***ing World', 'House of Cards', 'Dark', 'Elite', 'Sex Education', 'Shameless', 'New Girl', 'Agents of S.H.I.E.L.D.', 'You', 'Dexter', 'Fear the Walking Dead', 'Family Guy', 'The Blacklist', 'Lost', 'Peaky Blinders', 'House', 'Quantico', 'Orphan Black', 'Homeland', 'Blindspot', "DC's Legends of Tomorrow", "The Handmaid's Tale", 'Chilling Adventures of Sabrina', 'The Good Doctor', 'Jane the Virgin', 'Glee', 'South Park', 'Brooklyn Nine-Nine', 'Under the Dome', 'The Umbrella Academy', 'True Detective', 'The OA', 'Desperate Housewives', 'Better Call Saul', 'Bates Motel', 'The Punisher', 'Atypical', 'Dynasty', 'This Is Us', 'The Good Place', 'Iron Fist', 'The Rain', 'Mindhunter', 'Revenge', 'Luke Cage', 'Scandal', 'The Defenders', 'Big Little Lies', 'Insatiable', 'The Mentalist', 'The Crown', 'Chernobyl', 'iZombie', 'Reign', 'A Series of Unfortunate Events', 'Criminal Minds', 'Scream: The TV Series', 'The Haunting of Hill House']

In [8]:
len(n)

100

In [9]:
yearspan=[]
yearspan1=driver.find_elements_by_css_selector("#main > div > div.lister.list.detail.sub-list > div.lister-list > div> div.lister-item-content > h3 > span.lister-item-year.text-muted.unbold")
for i in yearspan1:
    if i.text is None :
        yearspan.append("--") 
    else:
        yearspan.append(i.text)
print(yearspan)

['(2011–2019)', '(2016– )', '(2010– )', '(2017–2020)', '(2014–2020)', '(2013–2019)', '(2017– )', '(2005– )', '(2014– )', '(2012–2020)', '(2017– )', '(2007–2019)', '(2011– )', '(2010–2017)', '(2013–2020)', '(2010–2017)', '(2009–2017)', '(2011– )', '(2008–2013)', '(2016– )', '(2005–2020)', '(2005–2017)', '(2014–2020)', '(2011–2017)', '(1989– )', '(2011–2018)', '(2015–2017)', '(2015–2018)', '(1994–2004)', '(2005–2014)', '(2011–2019)', '(2015–2019)', '(2013–2018)', '(2015–2021)', '(2007–2012)', '(2015–2018)', '(2014–2019)', '(2016– )', '(2015–2019)', '(2009–2020)', '(2013– )', '(2016–2019)', '(2017–2019)', '(2013–2018)', '(2017–2020)', '(2018– )', '(2019– )', '(2011–2021)', '(2011–2018)', '(2013–2020)', '(2018– )', '(2006–2021)', '(2015– )', '(1999– )', '(2013– )', '(2004–2010)', '(2013– )', '(2004–2012)', '(2015–2018)', '(2013–2017)', '(2011–2020)', '(2015–2020)', '(2016– )', '(2017– )', '(2018–2020)', '(2017– )', '(2014–2019)', '(2009–2015)', '(1997– )', '(2013–2022)', '(2013–2015)', '(2019– )', '(2014– )', '(2016–2019)', '(2004–2012)', '(2015–2021)', '(2013–2017)', '(2017–2019)', '(2017–2021)', '(2017– )', '(2016– )', '(2016–2020)', '(2017–2018)', '(2018–2020)', '(2017–2019)', '(2011–2015)', '(2016–2018)', '(2012–2018)', '(2017)', '(2017–2019)', '(2018–2019)', '(2008–2015)', '(2016– )', '(2019)', '(2015–2019)', '(2013–2017)', '(2017–2019)', '(2005–2020)', '(2015–2019)', '(2018)']

In [10]:
len(yearspan)

100

In [12]:
runtime=[]
runtime1=[]
runtime1=driver.find_elements_by_css_selector("#main > div > div.lister.list.detail.sub-list > div.lister-list > div > div.lister-item-content > p:nth-child(2) > span.runtime")
for i in runtime1:
    if i.text is None :
        gruntime.append("--") 
    else:
        runtime.append(i.text)
print(runtime)

['57 min', '51 min', '44 min', '60 min', '43 min', '59 min', '45 min', '41 min', '43 min', '42 min', '70 min', '22 min', '60 min', '88 min', '44 min', '44 min', '43 min', '60 min', '49 min', '42 min', '44 min', '44 min', '43 min', '41 min', '22 min', '60 min', '49 min', '54 min', '22 min', '22 min', '44 min', '49 min', '45 min', '43 min', '42 min', '60 min', '42 min', '62 min', '56 min', '22 min', '23 min', '42 min', '25 min', '51 min', '60 min', '60 min', '45 min', '46 min', '22 min', '45 min', '45 min', '53 min', '44 min', '22 min', '43 min', '44 min', '60 min', '44 min', '42 min', '44 min', '55 min', '42 min', '42 min', '60 min', '60 min', '41 min', '60 min', '44 min', '22 min', '22 min', '43 min', '60 min', '55 min', '60 min', '45 min', '46 min', '45 min', '53 min', '30 min', '42 min', '45 min', '22 min', '55 min', '45 min', '60 min', '44 min', '55 min', '43 min', '50 min', '60 min', '45 min', '43 min', '58 min', '330 min', '42 min', '42 min', '50 min', '42 min', '45 min', '572 min']

In [13]:
len(runtime)

100

In [ ]:
#main > div > div.lister.list.detail.sub-list > div.lister-list > div > div.lister-item-content > p:nth-child(2) > span.genre

In [14]:
genre=[]
genre1=[]
genre1=driver.find_elements_by_css_selector("#main > div > div.lister.list.detail.sub-list > div.lister-list > div > div.lister-item-content > p:nth-child(2) > span.genre")
for i in genre1:
    if i.text is None :
        genre.append("--") 
    else:
        genre.append(i.text)
print(genre)

['Action, Adventure, Drama', 'Drama, Fantasy, Horror', 'Drama, Horror, Thriller', 'Drama, Mystery, Thriller', 'Drama, Mystery, Sci-Fi', 'Comedy, Crime, Drama', 'Crime, Drama, Mystery', 'Drama, Romance', 'Action, Adventure, Drama', 'Action, Adventure, Crime', 'Action, Crime, Mystery', 'Comedy, Romance', 'Drama, Sci-Fi, Thriller', 'Crime, Drama, Mystery', 'Action, Adventure, Drama', 'Drama, Mystery, Romance', 'Drama, Fantasy, Horror', 'Drama, Horror, Thriller', 'Crime, Drama, Thriller', 'Crime, Drama, Fantasy', 'Drama, Fantasy, Horror', 'Action, Crime, Drama', 'Crime, Drama, Mystery', 'Action, Drama, Fantasy', 'Animation, Comedy', 'Adventure, Fantasy, Romance', 'Biography, Crime, Drama', 'Action, Crime, Drama', 'Comedy, Romance', 'Comedy, Romance', 'Comedy, Drama', 'Crime, Drama, Thriller', 'Drama, Fantasy, Horror', 'Action, Adventure, Drama', 'Drama, Romance', 'Drama, Mystery, Sci-Fi', 'Action, Crime, Drama', 'Drama, Mystery, Sci-Fi', 'Action, Crime, Drama', 'Comedy, Drama, Romance', 'Animation, Adventure, Comedy', 'Action, Drama, Fantasy', 'Adventure, Comedy, Crime', 'Drama', 'Crime, Drama, Mystery', 'Crime, Drama, Thriller', 'Comedy, Drama', 'Comedy, Drama', 'Comedy', 'Action, Adventure, Drama', 'Crime, Drama, Romance', 'Crime, Drama, Mystery', 'Drama, Horror, Sci-Fi', 'Animation, Comedy', 'Crime, Drama, Mystery', 'Adventure, Drama, Fantasy', 'Crime, Drama', 'Drama, Mystery', 'Crime, Drama, Mystery', 'Action, Drama, Sci-Fi', 'Crime, Drama, Mystery', 'Action, Crime, Drama', 'Action, Adventure, Drama', 'Drama, Sci-Fi, Thriller', 'Drama, Fantasy, Horror', 'Drama', 'Comedy', 'Comedy, Drama, Music', 'Animation, Comedy', 'Comedy, Crime', 'Drama, Mystery, Sci-Fi', 'Action, Adventure, Comedy', 'Crime, Drama, Mystery', 'Drama, Fantasy, Mystery', 'Comedy, Drama, Mystery', 'Crime, Drama', 'Drama, Horror, Mystery', 'Action, Crime, Drama', 'Comedy, Drama', 'Drama', 'Comedy, Drama, Romance', 'Comedy, Drama, Fantasy', 'Action, Adventure, Crime', 'Drama, Sci-Fi, Thriller', 'Crime, Drama, Thriller', 'Drama, Mystery, Thriller', 'Action, Crime, Drama', 'Drama, Thriller', 'Action, Adventure, Crime', 'Crime, Drama, Mystery', 'Comedy, Drama, Thriller', 'Crime, Drama, Mystery', 'Biography, Drama, History', 'Drama, History, Thriller', 'Comedy, Crime, Drama', 'Drama, Fantasy', 'Adventure, Comedy, Drama', 'Crime, Drama, Mystery', 'Crime, Drama, Horror', 'Drama, Horror, Mystery']

In [15]:
len(genre)

100

In [16]:
rating=[]
rating1=[]
rating1=driver.find_elements_by_css_selector("#main > div > div.lister.list.detail.sub-list > div.lister-list > div > div.lister-item-content > div.ipl-rating-widget > div.ipl-rating-star.small > span.ipl-rating-star__rating")
for i in rating1:
    if i.text is None :
        rating.append("--") 
    else:
        rating.append(i.text)
print(rating)

['9.3', '8.7', '8.2', '7.6', '7.6', '8.1', '6.9', '7.6', '7.7', '7.5', '8.3', '8.1', '8.8', '9.1', '8.5', '7.4', '7.7', '8', '9.5', '8.1', '8.4', '8.3', '8.1', '7.6', '8.7', '7.7', '8.8', '8.6', '8.9', '8.3', '8.5', '8.6', '8.2', '6.3', '7.4', '8.3', '7.8', '8.6', '7.9', '8.4', '9.2', '6.6', '8.1', '8.7', '8.8', '7.6', '8.3', '8.6', '7.7', '7.5', '7.7', '8.6', '6.9', '8.1', '8', '8.3', '8.8', '8.7', '6.7', '8.3', '8.3', '7.4', '6.8', '8.4', '7.5', '8.2', '7.8', '6.7', '8.7', '8.4', '6.6', '8', '9', '7.9', '7.5', '8.7', '8.2', '8.5', '8.3', '7.3', '8.7', '8.2', '6.5', '6.3', '8.6', '7.8', '7.3', '7.7', '7.3', '8.5', '6.5', '8.1', '8.7', '9.4', '7.8', '7.5', '7.8', '8.1', '7.2', '8.6']

In [19]:
len(rating)

100

In [20]:
votes=[]
votes1=[]
votes1=driver.find_elements_by_css_selector("#main > div > div.lister.list.detail.sub-list > div.lister-list > div> div.lister-item-content > p:nth-child(6) > span:nth-child(2)")
for i in votes1:
    if i.text is None :
        votes.append("--") 
    else:
        votes.append(i.text)
print(votes)

['1,770,276', '822,436', '853,489', '256,217', '216,493', '278,928', '118,098', '250,981', '305,276', '407,642', '298,325', '723,324', '444,640', '807,392', '432,354', '152,281', '283,052', '277,475', '1,465,462', '232,589', '392,642', '476,453', '129,363', '126,787', '365,681', '208,587', '357,679', '362,586', '827,838', '602,891', '363,620', '333,457', '117,528', '111,187', '154,381', '139,450', '211,892', '428,263', '193,229', '355,364', '375,852', '53,339', '146,022', '466,969', '283,956', '48,217', '158,230', '203,232', '192,397', '199,786', '143,568', '646,447', '112,468', '304,621', '197,310', '495,673', '348,675', '414,736', '57,201', '101,399', '312,883', '66,647', '91,981', '172,207', '77,556', '62,882', '38,775', '136,729', '331,537', '225,490', '101,195', '159,039', '499,486', '90,587', '115,668', '323,980', '97,013', '184,383', '60,298', '14,834', '106,577', '115,107', '114,736', '30,824', '217,200', '112,545', '116,833', '67,262', '90,823', '156,579', '22,575', '165,506', '149,681', '541,903', '60,479', '43,595', '53,876', '161,245', '34,099', '182,423']

In [21]:
df=pd.DataFrame({" Name ":n,"Year span":yearspan,"Genre":genre," Run time":runtime,"Ratings":rating,"Votes":votes,})
display(df)

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,770,276"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"822,436"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"853,489"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"256,217"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"216,493"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"43,595"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"53,876"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"161,245"
98,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2,"34,099"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"182,423"

In [ ]:
df.to_csv('q9.csv', index = False)

# 10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [63]:
driver = webdriver.Chrome("D:\chromedriver_win32\chromedriver.exe")
url="https://archive.ics.uci.edu/"
driver.get(url)
driver.maximize_window()
time.sleep(5)

In [64]:
title=[]
title1=[]
UR=[]
urls = []
urls=driver.find_elements_by_css_selector("body > table:nth-child(4) > tbody > tr > td:nth-child(2) > table > tbody > tr > td:nth-child(2) > table > tbody > tr > td:nth-child(2) > span > a")
for i in urls:
    UR.append(i.get_attribute('href'))#getting the url of  laptops

In [65]:
urls=driver.find_elements_by_css_selector("body > table:nth-child(4) > tbody > tr > td:nth-child(3) > table > tbody > tr> td:nth-child(2) > table > tbody > tr > td:nth-child(2) > span > a")
for i in urls:
    UR.append(i.get_attribute('href'))#getting the url of  laptops

In [25]:
len(UR)

24

In [66]:
ti=[]
ti1=[]
dt=[]
dt1=[]
task=[]
task1=[]
Attribute=[]
Attribute1=[]
instance=[]
instance1=[]
at=[]
at1=[]
year=[]
year1=[]
for url in UR:
    driver.get(url)
    ti=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td/table[1]/tbody/tr/td[1]/p[1]/span[1]/b")
    ti1.append(ti.text)
    time.sleep(3)
    dt=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[1]/td[2]/p")
    dt1.append(dt.text)
    task=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[3]/td[2]/p")
    task1.append(task.text)
    time.sleep(3)
    Attribute=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[2]/td[4]/p")
    Attribute1.append(Attribute.text)
    instance=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[1]/td[4]/p")
    instance1.append(instance.text)
    time.sleep(3)
    at1=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[2]/td[2]/p")
    at.append(at1.text)
    year=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[2]/td[6]/p")
    year1.append(year.text)
    time.sleep(3)

In [68]:
df=pd.DataFrame({" Dataset name ":ti1,"Data type":dt1,"Task":task1," Attribute type":at,"No of instances ":instance1,"No of attribute":Attribute1,"Year":year1,})
display(df)

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Codon usage Data Set,Multivariate,"Classification, Clustering",N/A,13028,69,2020-10-03
1,Intelligent Media Accelerometer and Gyroscope ...,Time-Series,Classification,Real,800,9,2020-09-03
2,Facebook Large Page-Page Network Data Set,Multivariate,Classification,N/A,22470,4714,2020-07-22
3,Amphibians Data Set,Multivariate,Classification,"Integer, Real",189,23,2020-07-17
4,Early stage diabetes risk prediction dataset. ...,Multivariate,Classification,N/A,520,17,2020-07-12
5,Taiwanese Bankruptcy Prediction Data Set,Multivariate,Classification,Integer,6819,96,2020-06-28
6,South German Credit (UPDATE) Data Set,Multivariate,"Classification, Regression, Clustering","Integer, Real",1000,21,2020-06-20
7,BitcoinHeistRansomwareAddressDataset Data Set,"Multivariate, Time-Series","Classification, Clustering","Integer, Real",2916697,10,2020-06-17
8,Crop mapping using fused optical-radar data se...,"Multivariate, Time-Series",Classification,Real,325834,175,2020-06-16
9,Swarm Behaviour Data Set,Multivariate,Classification,Real,24017,2400,2020-06-16
10,selfBACK Data Set,Time-Series,"Classification, Clustering",Real,26136,6,2020-06-15
11,HCV data Data Set,Multivariate,"Classification, Clustering","Integer, Real",615,14,2020-06-10
12,Iris Data Set,Multivariate,Classification,Real,150,4,1988-07-01
13,Adult Data Set,Multivariate,Classification,"Categorical, Integer",48842,14,1996-05-01
14,Wine Data Set,Multivariate,Classification,"Integer, Real",178,13,1991-07-01
15,Heart Disease Data Set,Multivariate,Classification,"Categorical, Integer, Real",303,75,1988-07-01
16,Breast Cancer Wisconsin (Diagnostic) Data Set,Multivariate,Classification,Real,569,32,1995-11-01
17,Wine Quality Data Set,Multivariate,"Classification, Regression",Real,4898,12,2009-10-07
18,Bank Marketing Data Set,Multivariate,Classification,Real,45211,17,2012-02-14
19,Car Evaluation Data Set,Multivariate,Classification,Categorical,1728,6,1997-06-01
20,Human Activity Recognition Using Smartphones D...,"Multivariate, Time-Series","Classification, Clustering",N/A,10299,561,2012-12-10
21,Abalone Data Set,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995-12-01
22,Forest Fires Data Set,Multivariate,Regression,Real,517,13,2008-02-29
23,Student Performance Data Set,Multivariate,"Classification, Regression",Integer,649,33,2014-11-27

In [ ]:
df.to_csv('q10.csv', index = False)